# default
* text eol=lf

*.bat text eol=crlf
*.txt text eol=auto
*.csv text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.ini text eol=crlf
*.frag text eol=lf
*.vert text eol=lf
_tmp_version_ text
*.py text
*.c text
*.cpp text
*.tpp text
*.tcc text
*.cc text
*.cxx text
*.h text
*.hxx text
*.hpp text

# Binary/Executable
*.a binary
*.o binary
*.obj binary
*.so binary
*.dat binary
*.bin binary
*.exe binary
*.dll binary
*.elf binary
*.elf32 binary
*.elf64 binary
*.lib binary
*.hpw_replay binary

# Images:
*.png binary
*.gif binary
*.webp binary
*.jpg binary

# Audio:
*.flac
*.wav
*.mp2
*.mp3
*.ogg
*.opus
*.aac
*.mp4a
*.mka

# Archive:
*.xz binary
*.zip binary
*.zst binary
*.gz binary
*.rar binary
*.tar binary

# Other binary
*.ods binary
*.ttf
*.otf
