cppcheck.txt
stats.csv
ignore me.lnk
imgui.ini
memleaks.txt
delme.*
run.py
a.txt
b.txt
.vscode/settings.json
.sconsign.dblite
**/table_*.dat
tmp
HPW.code-workspace
pgo/
**/*.~lock.*
**/delme 1.txt
**/delme 2.txt
**/test.hpw_replay
**/*.hpw_replay
**/log.txt
**/*.lnk
**/*.a
**/*.opus
**/*.flac
**/*.ogg
**/*.mp3
**/*.mp4a
**/*.mka
**/*.bak
**/*.svg
**/*.o
**/*.dll
**/*.so
**/*.os
**/*.elf
**/*.elf32
**/*.elf64
**/*.exe
**/*.out
**/*.gch
**/*.mkv
**/err.txt
**/*.avi
**/*.mp4
**/delme
**/delme.txt
**/lib
**/HPW-test.tar.gz
**/vgcore.*
**/__pycache__
**/perf.data
**/perf.data.old
**/ignore me
**/cpplint.txt
**/*.gcda
**/*.gcno
build/config.yml
build/bin/
build/bin/*
build/*.txt
build/editor
build/LICENSE.txt
build/BUILD.txt
build/version info.txt
build/NOTICE.txt
build/plugin
build/cmd-test-helper.txt
build/cmd-test.txt
build/test.yml
build/HPW
build/screenshots
build/config
build/resource
build/replays
test/yaml test/test.yml
src/.sconsign.dblite
src/game/util/version.cpp
